@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;  /* for verticle allign */
    align-items: center; /* for horizontal allign */
    background: linear-gradient(45deg, black, #3a4452); /* for background color grading */
}
.calculator
{
    border: 0.1px solid #fb7c14; /* for border of calculator */
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
input{
    width: 320px;
    border: none;
    /* border-radius: 16px; */
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;  
    cursor: pointer;
    color: #6dee0a;
}
input::placeholder
{
    color: #6dee0a;
}
button
{
    border: none ; 
    width: 60px;
    height: 60px;
    margin: 10px;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 225, 0.1);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.equalBtn
{
    background-color: #fb7c14;
}
.operator
{
    color: #6dee0a;
}